body  {
    background-color: black;
    background-color: black020202d0;
  }
  

  
p {
  text-align: center;
  color: red;
} 
  


#example1 {
  background-image: url(back.gif), url(back.gif);
  background-position: right bottom, left top;
  background-repeat: no-repeat, repeat;
  padding: 15px;
}
